<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <nav>
        <div class="nav__container">
          <div class="logo__container">
            <img class="logo" src="./assets/logo.svg" alt="" />
            <h1 class="logo__name">Treact</h1>
          </div>
          <ul class="nav__links">
            <li><a href="" class="nav__link">About</a></li>
            <li><a href="" class="nav__link">Blog</a></li>
            <li><a href="" class="nav__link">Pricing</a></li>
            <li><a href="" class="nav__link">Contact Us</a></li>
            <li><a href="" class="nav__link">Login</a></li>
            <li><a href="" class="nav__link nav__link--primary">Sign Up</a></li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div></div>

        <div></div>
      </div>
    </section>
  </body>
</html>
